<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="http://cmci.colorado.edu/idlab/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="http://cmci.colorado.edu/idlab/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="http://cmci.colorado.edu/idlab/images/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="http://cmci.colorado.edu/idlab/images/icons/manifest.json">
<link rel="mask-icon" href="http://cmci.colorado.edu/idlab/images/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="http://cmci.colorado.edu/idlab/images/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Identity Lab">
<meta name="application-name" content="Identity Lab">
<meta name="msapplication-config" content="http://cmci.colorado.edu/idlab/images/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
