<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% seo %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/icons/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/images/icons/favicon-32x32.ico" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/images/icons/favicon-16x16.ico" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/images/icons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ "/images/icons/favicon.ico" | prepend: site.baseurl }}">
  <meta name="apple-mobile-web-app-title" content="Identity Lab">
  <meta name="application-name" content="Identity Lab">
  <meta name="msapplication-config" content="{{ "/images/icons/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <script src="{{ "/javascripts/libs.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: '{{ "/javascripts/" | prepend: site.baseurl }}'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{ "/javascripts/masonry.pkgd.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/slick.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/typed.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/script.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  <link rel="canonical" href="{{ page.url | replace:'/index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
