<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<!--Scripts-->
<script src="{{ '/assets/ts-theme/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/ts-theme/js/jquery.easing.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/ts-theme/js/modernizr.custom.42534.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{ '/assets/ts-theme/js/jquery.waitforimages.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{ '/assets/ts-theme/js/typed.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{ '/assets/ts-theme/js/masonry.pkgd.min.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{ '/assets/ts-theme/js/imagesloaded.pkgd.min.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{ '/assets/ts-theme/js/jquery.jkit.1.2.16.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/ts-theme/js/script.js' | absolute_url }}" type="text/javascript"></script>
