<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
      function toggleDiv(divId) {
         $("#"+divId).toggle();
      }
    </script>

    {% include header.html %}

    <div id='main' role='main'>
      <div class='full'>
        <div class='row'>
          <div class="twelve columns">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
