---
---

<!-- <img class="pdf-icon" src="{{ "/images/pdf_icon.png" | prepend: site.baseurl }}"> -->
<span class="title">{{entry.title}}</span>
<span class="author">{{entry.author}}</span><br />
{% if entry.booktitle %}<span class="venue">{{entry.booktitle}}</span>{% endif %}
{% if entry.journal %}
  <span class="venue">{{entry.journal}}</span>
  {% if entry.volume %}
    <span class="volume">{{entry.volume}}</span><!--
    -->{% if entry.number %},{% endif %}
  {% endif %}
  {% if entry.number %}
    <span class="number">{{entry.number}}</span><!--
    {%comment%} Add colon if needed. {%endcomment%}
    -->{% if entry.pages %}:{% endif %}
  {% endif %}
  {% if entry.pages %}<span class="pages">{{entry.pages}}</span>{% endif %}
{% endif %}

{% if entry.note %}
<span class="award">{{entry.note}}</span>
{% endif %}

<div id="{{key}}-materials">
  <ul class="nav nav-pills">

    {% if entry.abstract %}
      <li class="pill"><a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-abstract')">Abstract</a></li>
    {% endif %}

    {% if link %}
      <li class="pill"><a href="{{link}}">PDF</a></li>
    {% endif %}
    {% if links['poster.pdf'] %}
      <li class="pill"><a href="{{links['poster.pdf']}}">Poster</a></li>
    {% endif %}

    <li class="pill"><a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-reference')">Reference</a></li>
    <li class="pill"><a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-bibtex')">BibTeX</a></li>

    {% if entry.doi %}
      <li class="pill">Dataset <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a></li>
    {% endif %}

    {% if entry.dataset %}
      <li class="pill">DOI: <a href="{{entry.dslink}}">{{entry.dslink}}</a></li>
    {% endif %}

    <div id="{{key}}-reference" style="display:none;">
      <span class="collapse">{{reference}}</span>
    </div>
    <!-- [1]Morgan Klaus Scheuerman, Jacob M Paul, and Jed R Brubaker. 2019. How Computers See Gender: An Evaluation of Gender Classification in Commercial Facial Analysis and Image Labeling Services. Proc. ACM Hum.-Comput. Interact. 3, CSCW (2019), Article 144. DOI:https://doi.org/10.1145/3359246 -->

    <div id="{{key}}-bibtex" style="display:none;">
      <pre class="collapse">{{entry.bibtex}}</pre>
    </div>

  </ul>

  {% if entry.abstract %}
    <p id="{{key}}-abstract" class="collapse" style="display:none;">{{entry.abstract}}</p>
  {% endif %}

</div>
